<div class="row mt-2 mb-2">
  <h6>
    Add coin: {{ selectedCoin.name }}
    {{
    selectedCoin.name &&
    selectedCoin.rateUSD &&
    selectedCoin.rateUSD * +coinAmount.value | currency
    }}
    <span *ngIf="error" class="text-danger">Error fetching rate.</span>
  </h6>

  <div class="col ps-0">
    <div>
      <input pInputText #searchBox id="search-box" (input)="searchCoin(searchBox.value)" placeholder="Coin name"
        [value]="selectedCoin.name" />
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" *ngFor="let coin of coins$ | async">
          <a (click)="selectCoin(coin)">{{ coin.name }} {{ coin.symbol | uppercase }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col ps-0">
    <div>
      <input pInputText #coinAmount id="add-coin-input-amount" type="number" min="0" placeholder="Amount"
        (change)="onChangeAmount(coinAmount.value)" />
    </div>
  </div>

  <div class="col pt-2">
    <a style="cursor: pointer" (click)="onAddCoin()" *ngIf="selectedCoin.name && selectedCoin.amount"><span
        class="pi pi-check"></span></a>
    <a style="cursor: pointer" (click)="onToggleAddCoinVisibility()"><span class="pi pi-times"></span></a>
  </div>
</div>