h2 {
  display: inline-block;
}

button {
  vertical-align: super;
}

.crypto-table {
  font-family: "Helvetica Neue", sans-serif;
}

.amount-input {
  width: 5rem;
  
}
.text-input{
  padding-left:1rem;
  padding-right:1rem;
}
.image-coin {
  max-width: 18px;
  text-align: center;
}

.list-group-item {
  padding: 0.5rem 0rem;
  border: 0px;
}
.list-group-horizontal {
  justify-content: space-evenly;
}
td{
  font-size:medium
}
/* Media queries */
@media  (max-width: 500px) {
  .balance-list-table {
    width: 90%;
  }
  td {
    font-size: small;
  }
}

