h2 {
  display: inline-block;
}

button {
  vertical-align: super;
}

.crypto-table {
  font-family: "Helvetica Neue", sans-serif;
}

.amount-input {
  width: 5rem;
}

.image-coin {
  max-width: 18px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.list-group-item {
  padding: 0.5rem 0rem;
  border: 0px;
}
.list-group-horizontal {
  justify-content: space-evenly;
}

/* Media queries */
@media screen and (max-width: 500px) {
  .balance-list-table {
    width: 90%;
  }
  .balance-list-table-body {
    font-size: small;
    color: rebeccapurple;
  
  }
}
