<h2>Portfolio</h2>
<button class="btn btn-primary ms-2 btn-sm" type="button" (click)="toggleAddCoinVisibility()"
  *ngIf="!addCoinFormVisible">
  Add coin
</button>
<!-- Adding coin input  -->
<app-add-coin *ngIf="addCoinFormVisible" [onToggleAddCoinVisibility]="toggleAddCoinVisibility"></app-add-coin>
<div *ngIf="balance.length < maxNumberOfCoins" class="my-3">
  <!-- Icons of listed coins -->
  <!-- <ul *ngIf="!addCoinFormVisible" class="list-group list-group-horizontal">
    <li
      *ngFor="let coin of balance"
      class="list-group-item d-none d-sm-block"
    >
      <img class="image-coin" src="{{ coin.image }}" />{{ coin.name }}
    </li>
  </ul> -->
</div>
<p *ngIf="balance.length >= maxNumberOfCoins" class="font-italic">
  Maximum number of coins in balance reached ({{ maxNumberOfCoins }}).
</p>

<p-table [value]="balance" [paginator]="true" [rows]="pageSize" [sortField]="'valueUSD'" [sortOrder]="-1"
  [autoLayout]="false" class="balance-list-table">
  >
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name</th>
      <th>Icon</th>
      <th pSortableColumn="symbol">
        Symbol
      </th>
      <th pSortableColumn="rate">
        Rate (USD)
      </th>
      <th pSortableColumn="amount">
        Amount
      </th>
      <th pSortableColumn="valueUSD">
        Value
      </th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-coin class="balance-list-table-body">
    <tr>
      <td>{{ coin.name }}</td>
      <td style="text-align:center"> <img class="image-coin" src="{{ coin.image }}"></td>
      <td>{{ coin.symbol }}</td>
      <td>{{ coin.rateUSD | currency: "USD":"symbol":"1.0-2" }}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input #inputAmount min="0" type="number" [(ngModel)]="coin.amount" name="amount" step="{{ coin.editStep }}"
              (blur)="onChangeAmount(coin.ticker, +inputAmount.value)"
              (input)="onChangeAmount(coin.ticker, +inputAmount.value)" class="amount-input" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ coin.amount | number: "1.0-3" }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ coin.valueUSD | currency: "USD":"symbol":"1.0-2" }}</td>
      <td style="text-align: center">
        <button pButton pRipple type="button" icon="pi pi-times" (click)="onDeleteCoin(coin)"
          class="p-button-rounded p-button-text p-button-danger"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <p-paginator
  *ngIf="balance.length > pageSize"
  [rows]="pageSize"
  [totalRecords]="balance.length"
  (onPageChange)="paginate($event)"
></p-paginator> -->

<!-- <p-table [value]="balance" [columns]="columnsToDisplay">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-coin let-columns="columns">
    <tr>
      <th *ngFor="let col of columns">{{ coin[col.field] }}</th>
    </tr>
  </ng-template>
</p-table> -->

<!-- <table mat-table [dataSource]="balance" class="crypto-table">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let cryptoCurrency">{{ cryptoCurrency.name }}</td>
  </ng-container>
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef>Ticker</th>
    <td mat-cell *matCellDef="let cryptoCurrency">
      {{ cryptoCurrency.ticker }}
    </td>
  </ng-container>
  <ng-container matColumnDef="rateUSD">
    <th mat-header-cell *matHeaderCellDef>Price (USD)</th>
    <td mat-cell *matCellDef="let cryptoCurrency">
      {{ cryptoCurrency.rateUSD | currency: "USD":"symbol":"1.0-2" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td mat-cell *matCellDef="let cryptoCurrency">
      <input
        #inputAmount
        matInput
        min="0"
        type="number"
        [(ngModel)]="cryptoCurrency.amount"
        name="amount"
        step="sliderStep"
        (change)="onChangeAmount(cryptoCurrency.ticker, +inputAmount.value)"
        (blur)="onChangeAmount(cryptoCurrency.ticker, +inputAmount.value)"
      />
    </td>
  </ng-container>
  <ng-container matColumnDef="valueUSD">
    <th mat-header-cell *matHeaderCellDef>Value</th>
    <td mat-cell *matCellDef="let cryptoCurrency">
      {{ cryptoCurrency.valueUSD | currency: "USD":"symbol":"1.0-2" }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table> -->
<!-- <app-balance-item *ngFor="let crypto of balance" [cryptoCurrency]="crypto"></app-balance-item> -->